In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
s= pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s= pd.Series([1, 'rojo',4.5, True, 'verde'],name='Colores')
s

0        1
1     rojo
2      4.5
3     True
4    verde
Name: Colores, dtype: object

In [ ]:
df= pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [ ]:
dates = pd.date_range('20250101', periods=100, freq='ME')
dates

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31',
               '2026-01-31', '2026-02-28', '2026-03-31', '2026-04-30',
               '2026-05-31', '2026-06-30', '2026-07-31', '2026-08-31',
               '2026-09-30', '2026-10-31', '2026-11-30', '2026-12-31',
               '2027-01-31', '2027-02-28', '2027-03-31', '2027-04-30',
               '2027-05-31', '2027-06-30', '2027-07-31', '2027-08-31',
               '2027-09-30', '2027-10-31', '2027-11-30', '2027-12-31',
               '2028-01-31', '2028-02-29', '2028-03-31', '2028-04-30',
               '2028-05-31', '2028-06-30', '2028-07-31', '2028-08-31',
               '2028-09-30', '2028-10-31', '2028-11-30', '2028-12-31',
               '2029-01-31', '2029-02-28', '2029-03-31', '2029-04-30',
               '2029-05-31', '2029-06-30', '2029-07-31', '2029-08-31',
               '2029-09-30', '2029-10-31', '2029-11-30', '2029-12-31',
               '2030-01-31', '2030-02-28', '2030-03-31', '2030-04-30',
               '2030-05-31', '2030-06-30', '2030-07-31', '2030-08-31',
               '2030-09-30', '2030-10-31', '2030-11-30', '2030-12-31',
               '2031-01-31', '2031-02-28', '2031-03-31', '2031-04-30',
               '2031-05-31', '2031-06-30', '2031-07-31', '2031-08-31',
               '2031-09-30', '2031-10-31', '2031-11-30', '2031-12-31',
               '2032-01-31', '2032-02-29', '2032-03-31', '2032-04-30',
               '2032-05-31', '2032-06-30', '2032-07-31', '2032-08-31',
               '2032-09-30', '2032-10-31', '2032-11-30', '2032-12-31',
               '2033-01-31', '2033-02-28', '2033-03-31', '2033-04-30'],
              dtype='datetime64[ns]', freq='ME')

**# 1. TITANIC**

In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic= pd.read_csv('/content/drive/MyDrive/df/titanic.csv')

In [4]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [8]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
edad  = titanic['Age']
edad.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [14]:
edad.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, dtype: float64

In [15]:
titanic['Sex'].unique()

array(['male', 'female'], dtype=object)

In [16]:
titanic['Age'].shape

(891,)

In [17]:
titanic.shape

(891, 12)

In [18]:
age_sex= titanic[['Age','Sex']]
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [21]:
mayores_35= titanic[titanic['Age']>=35]
mayores_35.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [24]:
titanic[titanic['Age']>=35]['Age'].count()

np.int64(235)

In [30]:
query= titanic[(titanic['Age']>=35) & (titanic['Age']<=40) & (titanic['Sex']=='female')]
query.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,NaN,S
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [31]:
clases_2_3= titanic[titanic['Pclass'].isin([2,3])]
clases_2_3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [35]:
adult_names = titanic.loc[(titanic["Age"]>=35) & (titanic['Age']<=40) & (titanic['Sex']=='female'),"Name"]
adult_names.head()

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
25    Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
40       Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
61                                  Icard, Miss. Amelie
Name: Name, dtype: object

In [37]:
titanic.iloc[9:25, 2:6]

    Pclass                                               Name     Sex   Age
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10       3                    Sandstrom, Miss. Marguerite Rut  female   4.0
11       1                           Bonnell, Miss. Elizabeth  female  58.0
12       3                     Saundercock, Mr. William Henry    male  20.0
13       3                        Andersson, Mr. Anders Johan    male  39.0
14       3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15       2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16       3                               Rice, Master. Eugene    male   2.0
17       2                       Williams, Mr. Charles Eugene    male   NaN
18       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19       3                            Masselmani, Mrs. Fatima  female   NaN
20       2                               Fynney, Mr. Joseph J    male  35.0
21       2                              Beesley, Mr. Lawrence    male  34.0
22       3                        McGowan, Miss. Anna "Annie"  female  15.0
23       1                       Sloper, Mr. William Thompson    male  28.0
24       3                      Palsson, Miss. Torborg Danira  female   8.0

In [38]:
titanic['Age'].mean()

np.float64(29.69911764705882)

In [40]:
titanic[['Age','Sex']].groupby("Sex").count()

        Age
Sex
female  261
male    453

In [42]:
titanic.groupby(['Sex','Pclass'])['Fare'].count()

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: Fare, dtype: int64

In [43]:
titanic.sort_values(by='Age',ascending=False).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

In [46]:
titanic['Name'].str.contains('Mr').count()

np.int64(891)

In [47]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
titanic['Genero']= titanic['Sex'].map({'female':'F','male':'M'})
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Genero
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,F
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,F
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,F
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M

In [49]:
titanic_df= titanic[['Name', 'Genero','Age','Pclass']]

In [50]:
titanic_df.head()

                                                Name Genero   Age  Pclass
0                            Braund, Mr. Owen Harris      M  22.0       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      F  38.0       1
2                             Heikkinen, Miss. Laina      F  26.0       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      F  35.0       1
4                           Allen, Mr. William Henry      M  35.0       3

In [52]:
titanic_df.to_csv('titanic_df.csv', index=False)

In [53]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    891 non-null    object
 1   Genero  891 non-null    object
 2   Age     714 non-null    float64
 3   Pclass  891 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 28.0+ KB