# Introduccion a Python

In [ ]:
## mensajes de bienvenida
print("Bienvenido a la clase de Introduccion")

Bienvenido a la clase de Introduccion

In [ ]:
edad = 25
nombre_completo = "Rudy Manzaneda"
mensaje = f"Hola, mi nombre es {nombre_completo} y tengo {edad} años"
print(mensaje)

Hola, mi nombre es Rudy Manzaneda y tengo 25 años

#Transformaciones de Cadenas

In [ ]:
frase = "Python es un lenguaje de programacion"
print("Mayusculas", frase.upper())
print("Minusculas", frase.lower())
print("Reemplazar", frase.replace("Python", "Java"))

Mayusculas PYTHON ES UN LENGUAJE DE PROGRAMACION
Minusculas python es un lenguaje de programacion
Reemplazar Java es un lenguaje de programacion

#Variables, Tipos de Datos y Operadores

In [ ]:
# Declaración de variables con diferentes tipos de datos
numero_entero = 10          # int
numero_decimal = 3.14       # float
texto = "Hola, Machine Learning"  # str
es_estudiante = True        # bool

# Imprimir valores y tipos
print("Número entero:", numero_entero, "| Tipo:", type(numero_entero))
print("Número decimal:", numero_decimal, "| Tipo:", type(numero_decimal))
print("Texto:", texto, "| Tipo:", type(texto))
print("¿Es estudiante?:", es_estudiante, "| Tipo:", type(es_estudiante))

Número entero: 10 | Tipo: <class 'int'>
Número decimal: 3.14 | Tipo: <class 'float'>
Texto: Hola, Machine Learning | Tipo: <class 'str'>
¿Es estudiante?: True | Tipo: <class 'bool'>

📌 2. Operadores aritméticos

In [ ]:
a = 15
b = 4

print("Suma:", a + b)
print("Resta:", a - b)
print("Multiplicación:", a * b)
print("División:", a / b)      # resultado float
print("División entera:", a // b)  # solo la parte entera
print("Módulo (residuo):", a % b)
print("Potencia:", a ** b)

Suma: 19
Resta: 11
Multiplicación: 60
División: 3.75
División entera: 3
Módulo (residuo): 3
Potencia: 50625

📌 3. Operadores de comparación

In [ ]:
x = 10
y = 20

print("¿x es igual a y?", x == y)
print("¿x es diferente de y?", x != y)
print("¿x es mayor que y?", x > y)
print("¿x es menor o igual que y?", x <= y)

¿x es igual a y? False
¿x es diferente de y? True
¿x es mayor que y? False
¿x es menor o igual que y? True

4. Operadores lógicos

In [ ]:
p = True
q = False

print("AND lógico:", p and q)   # Solo True si ambos son True
print("OR lógico:", p or q)     # True si al menos uno es True
print("NOT lógico:", not p)     # Invierte el valor lógico

AND lógico: False
OR lógico: True
NOT lógico: False

 Suma de Dos numeros

In [ ]:
num1 = int(input("Ingrese el primer número: "))
num2 = int(input("Ingrese el segundo número: "))

print("La suma es:", num1 + num2)
print("El producto es:", num1 * num2)
print("¿El primer número es mayor que el segundo?", num1 > num2)

Ingrese el primer número: 5
Ingrese el segundo número: 6
La suma es: 11
El producto es: 30
¿El primer número es mayor que el segundo? False

Condicional 'if'

In [ ]:
num = int(input("Ingrese un numero"))
#num = float(input("Ingrese un numero"))
##A=5
##a=5
##a_rt=5
##a_rt2='5'
#a=5  ##asignacion
#a==5 ##comparacion
#a==='5' ##comparacion exacta
if num % 2 == 0:
  print("El numero es par")
else:
  print("El numero es impar")

Ingrese un numero7
El numero es impar

Estructura Repetitiva 'For'

In [ ]:
## bucle for
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for a in range (1,11,1):
  print(a)

1
2
3
4
5
6
7
8
9
10

Estructura While

In [ ]:
a=0
while a <10:
  print(a)
  ##a=a+1
  a+=1

0
1
2
3
4
5
6
7
8
9

#Funciones

In [1]:
#  def nombre_funcion(paametros):
  #bloque de codigo
    #return resultado
#Funcion de suma de dos numeros
def sumar(a,b):
  return a+b

In [2]:
r=6
s=9
print(sumar(r,s))

15

In [3]:
#crear la funcion factorial
def factorial(n):
  for i in range(1,n):
    n=n*i
  return n

In [5]:
num = int(input("Ingrese un numero"))
print(f"Factorial de {num}!= {factorial(num)}")

Ingrese un numero7
Factorial de 7!= 5040

#Estructuras de Datos

#Lista

In [7]:
# sedefine con []
# es mutable --> intercambiar los vlaores y moverlos
# diferentes tipo,
# longitud y posiciones

tecnologias =["Python", "java", "C-Sharp", "PhP"]

In [8]:
len(tecnologias)

4

In [13]:
tecnologias[2]

'C-Sharp'

In [14]:
tecnologias[-1]

'PhP'

In [15]:
tecnologias[1:3]

['java', 'C-Sharp']

In [16]:
tecnologias[::-1]

['PhP', 'C-Sharp', 'java', 'Python']

In [17]:
for tecnologia in tecnologias:
  print(tecnologia)

Python
java
C-Sharp
PhP

In [18]:
tecnologias.append("JavaScript")

In [19]:
tecnologias

['Python', 'java', 'C-Sharp', 'PhP', 'JavaScript']

In [20]:
len(tecnologias)

5

Listas por Comprehension

In [22]:
numeros =[1,2,3,4,5]
#for x in numeros
 # x=x**2
 #[expresion for elemento in iterador  if condicional]
cuadrados =[x**2 for x in numeros if x %2==0]
print(cuadrados)

[4, 16]

Tuplas

In [23]:
# estructura simple que es de vlaores fijos
# ordenada
# inmutable
## se maneja con parentesis
tupla = (1,3)
tupla

(1, 3)

In [24]:
tupla3= (4,2,7)
tupla3

(4, 2, 7)

In [28]:
colores = ("rojo", "verde", "azul")
colores[-1]

'azul'

In [29]:
t=(1,2,3)
lista= list(t)
lista

[1, 2, 3]

In [30]:
lista[0]=99

In [31]:
t = tuple(lista)

In [32]:
t

(99, 2, 3)

Diccionarios

In [33]:
## son estructuras basadas en clave:valor
# cada clave es unica
# pero los valores se pueden repetir
#pueden existir diferntes tipos de datos en el diccionario
# se define con llaves
persona={
    "nombre":"Rudy",
    "edad":25,
    "ciudad":"La Paz",
    "habilitado":True
}

persona

{'nombre': 'Rudy', 'edad': 25, 'ciudad': 'La Paz', 'habilitado': True}

In [35]:
persona['ciudad']

'La Paz'

In [37]:
persona.get("pais","No esta especificado")

'No esta especificado'

In [39]:
estudiantes={
    "Juan":[45,78,90],
    "Ana":[98,0, 99],
    "Pedro":[92,81]
}

In [40]:
estudiantes["Juan"]

[45, 78, 90]

In [41]:
empleados = {
    "empleado_1": {  # Clave del primer empleado
        "nombre": "Luis",
        "apellido": "Dominguez",
        "edad": 37,
        "ciudad": "Cochabamba",
        "ocupacion": "Ingeniero"
    },
    "empleado_2": {  # Clave del segundo empleado
        "nombre": "Ramiro",
        "apellido": "Veizaga",
        "edad": 40,
        "ciudad": "La Paz",
        "ocupacion": "Médico"
    }
}

In [42]:
empleados

{'empleado_1': {'nombre': 'Luis',
  'apellido': 'Dominguez',
  'edad': 37,
  'ciudad': 'Cochabamba',
  'ocupacion': 'Ingeniero'},
 'empleado_2': {'nombre': 'Ramiro',
  'apellido': 'Veizaga',
  'edad': 40,
  'ciudad': 'La Paz',
  'ocupacion': 'Médico'}}

In [43]:
print(f"La profesión del empleado {empleados['empleado_2']['nombre']} es {empleados['empleado_2']['ocupacion']}")

La profesión del empleado Ramiro es Médico

In [44]:
empleados.keys()

dict_keys(['empleado_1', 'empleado_2'])

In [45]:
empleados.values()

dict_values([{'nombre': 'Luis', 'apellido': 'Dominguez', 'edad': 37, 'ciudad': 'Cochabamba', 'ocupacion': 'Ingeniero'}, {'nombre': 'Ramiro', 'apellido': 'Veizaga', 'edad': 40, 'ciudad': 'La Paz', 'ocupacion': 'Médico'}])

In [46]:
empleados.items()

dict_items([('empleado_1', {'nombre': 'Luis', 'apellido': 'Dominguez', 'edad': 37, 'ciudad': 'Cochabamba', 'ocupacion': 'Ingeniero'}), ('empleado_2', {'nombre': 'Ramiro', 'apellido': 'Veizaga', 'edad': 40, 'ciudad': 'La Paz', 'ocupacion': 'Médico'})])